USE [LicençasDB_teste]
GO
/****** Object:  StoredProcedure [dbo].[SelClientes]    Script Date: 18/03/2021 17:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROC [dbo].[SelClientes]
@CDCLI nvarchar(10),
@CNPJ nvarchar(15),
@Nome nvarchar(100)
	
AS

IF (@CDCLI = '' AND @Nome = '')

BEGIN
SET @CDCLI = (SELECT TOP 1 LTRIM(RTRIM(A1_COD)) FROM [PROTHEUS_TESTE].[dbo].SA1010 WHERE LTRIM(RTRIM(A1_CGC)) = @CNPJ)

SELECT LTRIM(RTRIM(A1_NOME)) AS Cliente,
LTRIM(RTRIM(A1_NREDUZ)) AS Fantasia,
LTRIM(RTRIM(D2_CLIENTE)) AS Código,
LTRIM(RTRIM(A1_MUN)) AS Cidade,
LTRIM(RTRIM(A1_END)) AS Endereço,
LTRIM(RTRIM(A1_BAIRRO)) AS Bairro,
LTRIM(RTRIM(A1_DDD)) AS DDD,
LTRIM(RTRIM(A1_TEL)) AS Telefone,
LTRIM(RTRIM(A1_CGC)) AS CNPJ
FROM [PROTHEUS_TESTE].[dbo].SD2010 AS A 
INNER JOIN [PROTHEUS_TESTE].[dbo].SA1010 AS B ON LTRIM(RTRIM(A1_COD)) = LTRIM(RTRIM(D2_CLIENTE))
WHERE LTRIM(RTRIM(A1_COD)) = @CDCLI AND A.R_E_C_D_E_L_ = 0
GROUP BY A1_NOME, A1_NREDUZ, D2_CLIENTE, A1_MUN, A1_END, A1_BAIRRO, A1_DDD, A1_TEL, A1_CGC
ORDER BY Cliente
END


IF (@CNPJ = '' AND @Nome = '')

BEGIN
SELECT LTRIM(RTRIM(A1_NOME)) AS Cliente,
LTRIM(RTRIM(A1_NREDUZ)) AS Fantasia,
LTRIM(RTRIM(D2_CLIENTE)) AS Código,
LTRIM(RTRIM(A1_MUN)) AS Cidade,
LTRIM(RTRIM(A1_END)) AS Endereço,
LTRIM(RTRIM(A1_BAIRRO)) AS Bairro,
LTRIM(RTRIM(A1_DDD)) AS DDD,
LTRIM(RTRIM(A1_TEL)) AS Telefone,
LTRIM(RTRIM(A1_CGC)) AS CNPJ
FROM [PROTHEUS_TESTE].[dbo].SD2010 AS A 
INNER JOIN [PROTHEUS_TESTE].[dbo].SA1010 AS B ON LTRIM(RTRIM(A1_COD)) = LTRIM(RTRIM(D2_CLIENTE))
WHERE LTRIM(RTRIM(A1_COD)) = @CDCLI AND A.R_E_C_D_E_L_ = 0
GROUP BY A1_NOME, A1_NREDUZ, D2_CLIENTE, A1_MUN, A1_END, A1_BAIRRO, A1_DDD, A1_TEL, A1_CGC
ORDER BY Cliente
END


IF (@CDCLI = '' AND @CNPJ = '')
BEGIN
SELECT LTRIM(RTRIM(A1_NOME)) AS Cliente, 
LTRIM(RTRIM(A1_NREDUZ)) AS Fantasia,
LTRIM(RTRIM(D2_CLIENTE)) AS Código,
LTRIM(RTRIM(A1_MUN)) AS Cidade,
LTRIM(RTRIM(A1_END)) AS Endereço,
LTRIM(RTRIM(A1_BAIRRO)) AS Bairro,
LTRIM(RTRIM(A1_DDD)) AS DDD,
LTRIM(RTRIM(A1_TEL)) AS Telefone,
LTRIM(RTRIM(A1_CGC)) AS CNPJ
FROM [PROTHEUS_TESTE].[dbo].SA1010 AS A
INNER JOIN [PROTHEUS_TESTE].[dbo].SD2010 AS B ON LTRIM(RTRIM(A1_COD)) = LTRIM(RTRIM(D2_CLIENTE))
WHERE LTRIM(RTRIM(A1_NOME)) like @Nome COLLATE SQL_Latin1_General_CP1_CI_AS or LTRIM(RTRIM(A1_NREDUZ)) like @Nome COLLATE SQL_Latin1_General_CP1_CI_AS
GROUP BY A1_NOME, A1_NREDUZ, D2_CLIENTE, A1_MUN, A1_END, A1_BAIRRO, A1_DDD, A1_TEL, A1_CGC
ORDER BY Cliente
END