USE [LicençasDB_teste]
GO
/****** Object:  StoredProcedure [dbo].[SelProdutosCliente]    Script Date: 18/03/2021 17:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROC [dbo].[SelProdutosCliente]
@CDCLI nvarchar(10),
@CNPJ nvarchar(15),
@Nome nvarchar(100)
	
AS

IF (@CDCLI = '' AND @Nome = '')

BEGIN
SET @CDCLI = (SELECT TOP 1 LTRIM(RTRIM(A1_COD)) FROM [PROTHEUS_TESTE].[dbo].SA1010 WHERE LTRIM(RTRIM(A1_CGC)) = @CNPJ)

SELECT LTRIM(RTRIM(A1_NOME)) AS Cliente,
LTRIM(RTRIM(A1_NREDUZ)) AS Fantasia,
LTRIM(RTRIM(D2_CLIENTE)) AS Código,
LTRIM(RTRIM(D2_NUMSERI)) AS SN,
LTRIM(RTRIM(B1_DESC)) AS Produto,
CONVERT (date, LTRIM(RTRIM(D2_EMISSAO)), 0) AS DataVenda
FROM [PROTHEUS_TESTE].[dbo].SD2010 AS A 
INNER JOIN [PROTHEUS_TESTE].[dbo].SA1010 AS C ON LTRIM(RTRIM(A1_COD)) = LTRIM(RTRIM(D2_CLIENTE))
INNER JOIN [PROTHEUS_TESTE].[dbo].SB1010 AS D ON LTRIM(RTRIM(B1_COD)) = LTRIM(RTRIM(D2_COD))
WHERE LTRIM(RTRIM(A1_COD)) = @CDCLI AND A.R_E_C_D_E_L_ = 0
GROUP BY A1_NOME, A1_NREDUZ, D2_CLIENTE, D2_NUMSERI, B1_DESC, D2_EMISSAO
ORDER BY Produto
END


IF (@CNPJ = '' AND @Nome = '')

BEGIN
SELECT LTRIM(RTRIM(A1_NOME)) AS Cliente,
LTRIM(RTRIM(A1_NREDUZ)) AS Fantasia,
LTRIM(RTRIM(D2_CLIENTE)) AS Código,
LTRIM(RTRIM(D2_NUMSERI)) AS SN,
LTRIM(RTRIM(B1_DESC)) AS Produto,
CONVERT (date, LTRIM(RTRIM(D2_EMISSAO)), 0) AS DataVenda
FROM [PROTHEUS_TESTE].[dbo].SD2010 AS A 
INNER JOIN [PROTHEUS_TESTE].[dbo].SA1010 AS C ON LTRIM(RTRIM(A1_COD)) = LTRIM(RTRIM(D2_CLIENTE))
INNER JOIN [PROTHEUS_TESTE].[dbo].SB1010 AS D ON LTRIM(RTRIM(B1_COD)) = LTRIM(RTRIM(D2_COD))
WHERE LTRIM(RTRIM(A1_COD)) = @CDCLI AND A.R_E_C_D_E_L_ = 0
GROUP BY A1_NOME, A1_NREDUZ, D2_CLIENTE, D2_NUMSERI, B1_DESC, D2_EMISSAO
ORDER BY Produto
END


IF (@CDCLI = '' AND @CNPJ = '')
BEGIN
SELECT LTRIM(RTRIM(A1_NOME)) AS Cliente, 
LTRIM(RTRIM(A1_NREDUZ)) AS Fantasia,
LTRIM(RTRIM(A1_COD)) AS Código, 
LTRIM(RTRIM(D2_NUMSERI)) AS SN, 
LTRIM(RTRIM(B1_DESC)) AS Produto,
CONVERT (date, LTRIM(RTRIM(D2_EMISSAO)), 0) AS DataVenda
FROM [PROTHEUS_TESTE].[dbo].SA1010 AS A
INNER JOIN [PROTHEUS_TESTE].[dbo].SD2010 AS B ON LTRIM(RTRIM(A1_COD)) = LTRIM(RTRIM(D2_CLIENTE)) 
INNER JOIN [PROTHEUS_TESTE].[dbo].SB1010 AS C ON LTRIM(RTRIM(D2_COD)) = LTRIM(RTRIM(B1_COD))
WHERE LTRIM(RTRIM(A1_NOME)) like @Nome COLLATE SQL_Latin1_General_CP1_CI_AS or LTRIM(RTRIM(A1_NREDUZ)) like @Nome COLLATE SQL_Latin1_General_CP1_CI_AS
GROUP BY A1_NOME, A1_NREDUZ, A1_COD, D2_NUMSERI, B1_DESC, D2_EMISSAO
ORDER BY Produto
END
